@use '../helper'as *;

/*Header Area*/
.za-header {
    &-area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: #fff;
        // background: rgba(255, 255, 255, 0.002);
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
        // border-bottom: 1px solid #e2e8f0;
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

        &.za-sticky-active {
            box-shadow: var(--za-nav-box-shadow);
            padding-block: 4px;
            background: tomato;
            color: #fff;
        }
    }

    &-left {
        gap: 28px;
        align-items: center;
    }

    &-logo {
        font-size: 24px;
        font-weight: 800;
        color: var(--za-cr-text-darkNavyBlue);
        text-decoration: none;
        flex-shrink: 0;
    }

    &-menu {
        display: none;

        @media #{$dm2} {
            display: block;
            flex-grow: 1;
        }

        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media #{$dm2} {
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        &-item {
            width: 100%;
            position: relative;

            @media #{$dm2} {
                width: auto
            }
        }

        &-link {
            text-decoration: none;
            color: var(--za-nav-dark-clr);
            font-weight: 600;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background: none;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            text-align: left;

            @media #{$dm2} {
                width: auto;
                white-space: nowrap;
            }

            &.za-header-menu-active {
                color: var(--za-cr-theme-deepGreen);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -8px;
                    width: 100%;
                    height: 2px;
                    background: var(--za-cr-text-deepGreen);
                    transform: translateX(-50%);
                    transition: width .35s ease;
                }
            }
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        margin-left: auto;
        margin-right: 40px;

        @media #{$dm2} {
            margin-left: 0;
            margin-right: 0;
            display: flex !important;
        }
    }
}


/* হ্যামবার্গার ও অফক্যানভাস ড্রয়ার */
.za-trigger-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10001;
    flex-shrink: 0;

    @media #{$dm2} {
        display: none !important;
    }

    &[aria-expanded="true"] {
        & .za-burger-line {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
}

.za-burger-line {
    width: 100%;
    height: 3px;
    background-color: var(--za-cr-common-black);
    border-radius: 4px;
    transition: 0.25s ease;
}

// open side bar
.za-mobile-panel {
    position: fixed;
    top: 0;
    left: -340px;
    width: 320px;
    height: 100vh;
    background-color: #e2e8f0;
    z-index: 10000;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    flex-direction: column;
    padding: 24px;

    &.za-panel-open {
        left: 0;
    }
}

@media #{$dm2} {

    .za-mobile-panel,
    .za-panel-backdrop,
    #za-MobileNavList {
        display: none !important;
        visibility: hidden !important;
    }
}

.za-panel-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    flex-shrink: 0;
}

.za-panel-close {
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--za-nav-scnd-clr);
}

.za-panel-body {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.za-panel-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--za-nav-overlay-clr);
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    transition: var(--za-nav-smooth-motion);
    backdrop-filter: blur(4px);

    & .za-backdrop-visible {
        opacity: 1;
        visibility: visible;
    }
}

body.za-scroll-locked {
    overflow: hidden;
}

// Header Menu Hover Effect 
.za-nav-18 {
    transition: .35s ease;
}

.za-nav-18:hover {
    color: var(--za-cr-text-deepGreen);
}

.za-nav-47::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: var(--za-cr-theme-deepGreen);
    transform: translateX(-50%);
    transition: width .35s ease;
}

.za-nav-47:hover::after {
    width: 100%;
}