//---Responsive Variables--

//---High-end Desktops or Laptops
$xxxl: 'only screen and (min-width: 1601px) and (max-width: 1800px)';
//---Medium Desktops
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1600px)';
//---Desktops
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
//---Laptops or Larger Tablets
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
//---Laptops or Larger Tablets
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
//---Tablets
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
//---Smartphones
$xs: '(max-width: 767px)';
//---Other--Small Devices or Special Mobile Sizes
$sxl: '(max-width: 1024px)';
$slg: '(min-width: 992px)';
$slg2: '(max-width: 992px)';
$smd: '(max-width: 768px)'; 
$ssm: '(max-width: 576px)';
$sxs: '(max-width: 460px)';



//    @media #{$slg2} {
//         height: 650px;
//    }

// https://chatgpt.com/share/6767edf0-4380-8000-91f6-21e56101e443