$colors: (
    common: (
        white: #ffffff,
        black: #222222,
    ),

    theme: (
        deepGreen: #006C49,
        deepGreen10: #006C491A,
        deepGreen50: #006C4980,
    ),

    text: (
        deepGreen: #006C49,
        darkNavyBlue: #121C2A,    
        darkSageGreen: #3C4A42,    
    )    
);